@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import "colors.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  background: $background-color;
}


.menu {
  position: fixed;
  display: block;
  width: 130px;
  height: 100%;
  background: $font-menu-numbers;
  left: -130px;
  top: 0;
  text-align: center;
  padding-top: 60px;
  -webkit-transition: all .4s ease-in-out ;
  transition: all .4s ease-in-out ;
  &:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: $font-menu-numbers;
    top: 0;
    right: -60px;
    -webkit-transition: all .4s ease-in-out ;
  transition: all .4s ease-in-out ;
  }
  &:hover {
    left: 0;
    &:after {
      right: 0px;
    }
    .menu_icon {
      left:50%;
    }
  }
  li {
    list-style-type: none;
    a {
      color: white;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      margin: 10px 0;
      &:hover {
        background: white;
        color: $font-menu-numbers;
      }
    }
  }
}

.menu_icon {
  position:absolute;
  top:36px;
  left:158px;
  margin: -10px;
  width:20px;
  height:4px;
  background:#fff;
  z-index:4;
  -webkit-transition: all .4s ease-in-out ;
  transition: all .4s ease-in-out ;
    &:after {
      position:absolute;
      bottom:7px;
      left:0px;
      content:'';
      width:20px;
      height:4px;
      background:#fff;
    }
    &:before {
      position:absolute;
      bottom:-7px;
      left:0px;
      content:'';
      width:20px;
      height:4px;
      background:#fff;
    }
}
